/.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.git-ftp.log
.htaccess
/cgi-bin/
composer-setup.php
composer.phar
config.php
/css/
/img/
index.html
/js/
/photos/
/public/photos/temp/
up.php
upl.php

